.backgroundContainer{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:var(--darkBlue);
    padding-top:45px;
    padding-bottom:45px;
    padding-right:120px;
    padding-left:120px;
}

.backgroundContainer>p{
    color:var(--lightGray);
    font-size:24px;
    font-family:nunito;
    font-weight:400;
    text-align:center;
}

.backgroundContainer>a{
    fill:var(--lightGray);
}