.contactContainer{
    background-color:#7bbf79;
    height:300px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.contactContent{
    display:flex;
    align-items:center;
    flex-direction:column;
}

.contactContent>*{
    margin-left:10px;
    margin-right:10px;
}

.envelopeContainer.animated{
    animation: shrinkGrow 2s;
}

@keyframes shrinkGrow{
    from {
        transform:rotateY(0deg);
    }
    to {
        transform:rotateY(360deg);
    }
}

.emailAddress{
    font-family: nunito;
    font-size:24px;
}