.header{
    background-color:#498BC1;
    padding-top:1.5em;
    padding-bottom:1.5em;
    display:flex;
    justify-content:space-around;
}

.headerLink{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:800;
    position:relative;
}

.headerLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white; /* Change color as needed */
    transition: width 0.3s ease;
  }
  
  .headerLink:hover::after {
    width: 100%;
  }