.header{
  display:none;
}

@media (min-width: 500px) {
  .header{
    background-color:var(--darkBlue);
    padding-top:1.5em;
    padding-bottom:1.5em;
    display:flex;
    justify-content:space-around;
    position:fixed;
    width:100%;
    z-index:3;
    transition: margin-top 0.5s;
  }

  .hideHeader{
    margin-top:-6em;
  }

  .headerLink{
    font-family: Nunito;
    font-weight:800;
    font-size:24px;
    position:relative;
    cursor:pointer;
  }

  .headerLink::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color:var(--lightGray); /* Change color as needed */
    transition: width 0.3s ease;
  }
    
  .headerLink:hover::after {
    width: 100%;
  }
}